@import '~antd/dist/antd.css';


.sliderStyle{
  margin-top: 20px;
}

.ant-slider {
  height: 20px;
  width: 845px;
  background-repeat: round;
  margin: 0;
  padding: 0;
}


.ant-slider-step {
  height: 20px;
  z-index: 5;
}

.ant-slider-rail {
  height: 20px;
  opacity: 0 !important;
  z-index: 5;
}

.ant-slider-track {
  height: 20px;
  /* background-color: #91d5ff; */
  background-color: rgba(255,255,255,0.4);
  border-right: 2px solid rgba(235,97,0,1);
  z-index: 5;
}
.ant-slider-mark {
  background-color: rgba(255,255,255,0.4);
}
.ant-slider-handle :hover {
  border: solid 2px #EB6100;
  z-index: 9;
}
.ant-slider-handle {
  width: 8px;
  height: 8px;
  margin-top: 6px;
  margin-left: -1px;
  background-color: #fff;
  border: solid 2px #EB6100;
  z-index: 9;
}
.sliderSpanStyle {
  font-size: 4px;
  font-family: PingFang SC;
  color: #000000;
}

#sliderSpanL {
  position: absolute;
  top: 4px;
  left: 4.5px;
  z-index: 9;
  user-select: none;
  /* 穿透效果 */
  pointer-events: none;
}


#sliderSpanR{
    position: absolute;
    top: 4px;
    right: 4.5px;
    z-index: 9;
    user-select: none;
    pointer-events: none;
}

.playIconStyle{
  color:#4285F4;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 7px;
}